
body {
    background-image: url("https://www.greatnortherncatskills.com/sites/default/files/styles/1200x900/public/2018-04/Hiking%20in%20the%20Catskills.jpg?itok=FnhhXjSw");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
} 