<nav>
<%= button_to 'Home', '/', :method => "get" %><br>
<%= button_to 'Show Users', users_path, :method => "get" %> <br>
<%= button_to 'All Hikes', hikes_path, :method => "get" %>
<hr>
</nav

<div><h2> All Users </h2><div>

<ul>
    <% @users.each do |i| %>
        <li><%= link_to i.name, user_path(i) %></li>
    <% end %>
</ul>

