<style>

    h1 { 
        font-family: 'Open Sans', sans-serif;
         text-align: center;
         font-size: 40px;
         margin-top: 65px;
    }

    ul {
        font-family: 'Open Sans', sans-serif;
         text-align: center;
         font-size: 25px;
    }

    li:link {
        color: pink; 
    }

    }
</style>

<h1>All Users</h1>

<ul>
    <% @users.each do |i| %>
        <li><%= link_to i.name, user_path(i) %></li>
    <% end %>
</ul>

