<nav>
<%= button_to User, users_path, :method => "get" %> <br>
<%= button_to Hike, hikes_path, :method => "get" %> 
<hr>
</nav

<div><h1>Welcome to ASDF!</h1></div>

<div><%= link_to 'Sign Up', new_user_path, method: :get %></div><br>

Login Link