<nav>
<%= button_to 'Home', '/', :method => "get" %><br>
<%= button_to User, users_path, :method => "get" %> <br>
<%= button_to Hike, hikes_path, :method => "get" %> 
<hr>
</nav

<div><h2> List of All Hikes </h2></div>

<ul>
    <% @hikes.each do |i| %>
        <li><%= link_to i.name, hike_path(i) %></li>
    <% end %>
</ul>