<style>

    h1 { 
        font-family: 'Open Sans', sans-serif;
         text-align: center;
         font-size: 40px;
         margin-top: 65px;
    }

    ul {
        font-family: 'Open Sans', sans-serif;
         text-align: center;
         font-size: 25px;
         
    }
</style>

<h1> Locations in New York </h1>
<nav>
<%= button_to 'Home', '/', :method => "get" %><br>
<%= button_to 'Show Users', users_path, :method => "get" %> <br>
<%= button_to 'All Hikes', hikes_path, :method => "get" %>
<hr>
</nav

<div><h2> List of All Hikes </h2></div>

<ul>
    <% @hikes.each do |i| %>
        <li><%= link_to i.name, hike_path(i) %></li>
    <% end %>
</ul>